body{
    overflow-y: scroll;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
.edit-profile-container{
    max-width: 500px;
    min-width: 200px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2% auto;
}
.edit-profile-container h2{
    text-align: center;
}
.form-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.save-button, .back-button{
    width: 50%;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.back-button{
    background-color:darkgray;
    margin-right: 10px;
}
.back-button:hover{
    background-color:rgb(125, 125, 125);
}
.save-button{
    background-color: #14b814;
    margin-left: 10px;
}
.save-button:hover{
    background-color: green;
}
.button-block{
    display: flex;
}