body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.admin-panel-wrapper{
    margin: auto;
    max-width: 850px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 10px;
    margin: 0;
    font-size: 20px;
    list-style-type: none;
    border-bottom: 1px solid gray;
}
.tabs > *{
        text-align: center;
        align-items: flex-end;
        box-sizing: border-box;
}

.tab-link{
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}
.tab-link.active{   
    color: blue;
    border-bottom: 3px solid blue;
 
}
.tab-link:hover{
    color: blue;
}
.person{
    padding: 10px;
    border-bottom: 1px solid gray;
}

.person:last-child{
border: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.links{
    display: flex;
    margin-left:auto;
    margin-right:0;
    
}
.link{
    margin-right: 10px;
    float: right;
    padding: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.exit-link{
    border-bottom: 3px solid red;
}
.exit-link:hover{
    color: red;
}
.change-password-link{
    border-bottom: 3px solid blue;
}
.change-password-link:hover{
    color: blue;
}

@media screen and (max-width: 700px) {
    .tabs > *{
        font-size: 16px;
    }
}