body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
.user-orders{
    padding: 0px 20px;
    background-color: white;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-status[data-status*="В обработке"] {
    color: blue; 
}

.order-status[data-status*="Отменен"] {
    color: red; 
}

.order-status[data-status*="Принят"] {
    color: orange; 
}
.order-status[data-status*="Завершен"] {
    color: green; 
}
.order-date{color: gray}
.tabs{
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
}
.tab{
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    cursor:pointer;
}
.tab.active{
    border-bottom: 4px solid blue;
    color:blue;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}