<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <title>Сброс пароля</title>
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <h1>
        Письмо с инструкциями по восстановлению пароля отправлено
    </h1>
    <p>
        Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
    </p>
    <p>
        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
    </p>
</body>
</html>