<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <script src="{% static 'js/password_reset_form.js' %}" defer></script>
</head>
<body>
    {% include 'navbar/navbar.html' %}

    <div class="change-password-form-container">
        <h2>Сброс пароля</h2>
        <form method="POST" action="">
            <p>Введите адрес электронной почты, к которой привязан ваш аккаунт, чтобы изменить пароль:</p>
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <div class="button-wrapper">
                <button class="back-button" type="button" onclick="back()">Назад</button>
                <button class="save-button" type="submit">Отправить письмо</button>    
            </div>
        </form>
    </div>
</body>
</html>