<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <h1>
        Восстановление пароля завершено
    </h1>
    <p>
        Ваш пароль был изменён. Теперь вы можете войти.
    </p>
    <p>
        <a href="{% url 'login' %}">Войти</a>
    </p>

</body>
</html>