<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
    {% include 'navbar/navbar.html' %}

    <div class="change-password-form-container">
        <h1>Сброс пароля</h1>
        {% if validlink %}
          <p>Пожалуйста, введите ваш новый пароль дважды:</p>
          <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="save-button" type="submit">Изменить пароль</button>   
          </form>
        {% else %}
          <p>Ссылка для сброса пароля недействительна, возможно, потому что она уже была использована. Пожалуйста, выполните новый сброс пароля.</p>
        {% endif %}
    </div>
</body>
</html>