{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_orders.css' %}">
    <script src="{% static 'js/user_orders.js' %}" defer></script>
    <title>Мои заказы</title>
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <div class="user-orders">
        <div class="tabs">
            <p class="tab active" data-tab="in_progress">Заказы в работе</p>
            <p class="tab" data-tab="ended">Выполненные заказы</p>
        </div>
        <div class="user-orders-wrapper">
            <div class="tab-content active" id="in_progress">
                {% include 'user_orders/user_orders_in_progress_innerHTML.html' %}
            </div>
            <div class="tab-content" id="ended">
                {% include 'user_orders/user_orders_ended_innerHTML.html' %}
            </div>
        </div>
    </div>
</body>
</html>