<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Список заказов</title>
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
    <script src="{% static 'js/admin_panel.js' %}" defer></script>
</head>

<body>
    {% include 'navbar/navbar.html' %}
    
    <div class="admin-panel-wrapper">
        {% include 'admin_panel/admin_panel_innerHTML.html' %}
    </div> 
</body>
</html>