<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Список заказов</title>
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
    <script src="{% static 'js/admin_panel.js' %}" defer></script>
</head>

<body>
    {% include 'navbar/navbar.html' %}
    <div class="admin-panel">
        <div class="tabs">
            <p class="tab active" data-tab="in_progress">Заказы в работе</p>
            <p class="tab" data-tab="ended">Выполненные заказы</p>
        </div>
        <div class="admin-panel-wrapper">
            <div class="tab-content active" id="in_progress">
                {% include 'admin_panel/admin_panel_in_progress_innerHTML.html' %}
            </div>
            <div class="tab-content" id="ended">
                {% include 'admin_panel/admin_panel_ended_innerHTML.html' %}
            </div>
        </div>
    </div> 
</body>
</html>