<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление товара</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/object_form_style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="forms-container">
        <div class="image-drop-area" id="image-drop-area">
            Перетащите изображения сюда
            <div id="image-preview"></div>
        </div>
        <form method="POST" action="" id="product_form" enctype="multipart/form-data">
            <div>
                {% csrf_token %}
                <label for="product_type">Выберите тип продукта:</label>
                <select id="product_type" name="product_type">
                    <option value="mouse">Мышь</option>
                    <option value="keyboard">Клавиатура</option>
                    <option value="headphones">Наушники</option>
                </select>
            </div>
            <div id="form_container">
                {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <input type="file" name="images" id="images" multiple style="display:none;">
            </div>
            <input type="submit" value="Добавить"/>
        </form>
    </div>
</body>
<script src="{% static 'js/change_form.js' %}"></script>
<script src="{% static 'js/object_form.js' %}"></script>
</html>