<head>
  <meta name="google-signin-client_id" content="475540162676-d5369k78mif1ha93jcn7ngq9k84t93f9.apps.googleusercontent.com">
</head>
<div class="form-container">
    <h2>Вход</h2>
    <form method="POST" id="login-form">
      {% csrf_token %}

      <label>Email:</label>
      <input type="email" name="email" />
      
      <label>Пароль:</label>
      <input type="password" name="password" required/>
      
      <button type="submit" onclick="login(event,'login')">Войти</button> 
    </form>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    

    <a class="google-auth" href="{% url "social:begin" "google-oauth2" %}">
      Войти при помощи учетной записи Google
    </a>
    
    <p><a class="form-ref" href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p>Ещё не зарегистрировались? <a class="form-ref" href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>

