{% load custom_filters %}
<div class="order-list">
    <h2>Заказы в работе</h2>
    <hr>
    {% for order in orders %}
        {% if order.status != 'Отменен' and order.status != 'Завершен' and order.status != 'Отменен системой (на складе недостаточно товара)' %}
            <div class="order-item active-orders">
                <p class="order-date">Последнее обновление: {{ order.updated_at|date:"d.m.Y H:i" }}</p>
                <p class="order-status" data-status="{{ order.status }}">
                    <b>Статус заказа: {{ order.status }}</b>
                </p>
                <div class="order-details">
                    <p>Имя: {{ order.first_name }}</p>
                    <p>Фамилия: {{ order.last_name }}</p>
                    <p>Телефон: {{ order.phone_number }}</p>
                    {% if order.email %}
                        <p>Email: {{ order.email }}</p>
                    {% endif %}
                </div>
                <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.name }} - {{ item.quantity }} шт. - 
                            <b>Общая цена: {{ item.price|multiply:item.quantity }} р.</b>
                            <br>
                            {% if item.product %}
                                {% if item.product.amount < item.quantity and order.status == 'В обработке' %}
                                    <b class="warning">На складе недостаточно товара: {{ item.name }}. В наличии только {{ item.product.amount }}шт.</b>
                                {% endif %}
                            {% else %}
                                <b class="warning">Товара {{ item.name }} больше нет в каталоге</b>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <b><p class="order-total">Общая стоимость заказа: {{ order.items.all|sum_prices }} р.</p></b>
                <div class="button-group">
                    {% if order.status == 'В обработке' %}
                        <button onclick="changeOrderStatus({{ order.id }},'accept')" class="button accept-button">Принять заказ</button>
                    {% elif order.status == 'Принят' %}
                        <button onclick="changeOrderStatus({{ order.id }},'finish')" class="button finish-button">Завершить заказ</button>
                    {% endif %}
                    <button onclick="changeOrderStatus({{ order.id }},'decline')" class="button decline-button">Отменить заказ</button>
                </div>
            <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="order-list">
    <h2>Завершенные заказы</h2>
    <hr>
    {% for order in orders|sort_orders %}
        {% if order.status == 'Отменен' or order.status == 'Завершен' or order.status == 'Отменен системой (на складе недостаточно товара)' %}
            <div class="order-item">
                <p class="order-date">Последнее обновление: {{ order.updated_at|date:"d.m.Y H:i" }}</p>
                <div class="order-details">
                    <p>Имя: {{ order.first_name }}</p>
                    <p>Фамилия: {{ order.last_name }}</p>
                    <p>Телефон: {{ order.phone_number }}</p>
                    {% if order.email %}
                        <p>Email: {{ order.email }}</p>
                    {% endif %}
                </div>
                <p class="order-status" data-status="{{ order.status }}">
                    <b>Статус заказа: {{ order.status }}</b>
                </p>
                <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.name }} - {{ item.quantity }} шт. - 
                            <b>Общая цена: {{ item.price|multiply:item.quantity }} р.</b>
                        </li>
                    {% endfor %}
                </ul>
                <b><p class="order-total">Общая стоимость заказа: {{ order.items.all|sum_prices }} р.</p></b>
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>