<div class="cart-products-wrapper">
    {% if cart_item_count != 0 %}
        {% for product in products_with_details %}
            <div class="cart-item">
                <div class="image-container">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </div>
                <h2 class="item-name">{{ product.name }}</h2>
                <div class="quantity-controls">
                    <h2 class="item-price">{{ product.result }}р</h2>
                    {% if product.quantity > 1 %}
                        <button onclick="changeQuantity(this.value,'-1')" value="{{ product.cart_item_id }}" id="minus-button" class="button quantity-button">-</button> 
                    {% else %}
                        <button disabled onclick="changeQuantity(this.value,'-1')" value="{{ product.cart_item_id }}" id="minus-button" class="button quantity-button">-</button> 
                    {% endif %}
                    <span id="quantity-{{ product.cart_item_id }}">{{ product.quantity }}</span>
                    <button onclick="changeQuantity(this.value,'1')" value="{{ product.cart_item_id }}" id="plus-button" class="button quantity-button">+</button>
                    <button value="{{ product.cart_item_id }}" onclick="deleteFromCart(this.value)" class="button delete-button">Удалить</button>
                </div>
            </div>
        {% endfor %}
        <div class="bottom-div">
            <h2 class="total-sum">Итоговая стоимость: {{ total_sum }}р</h2>
            <a style="text-decoration:none "class="contact-information-button" href="{% url 'contact-information' %}">Перейти к контактной информации</a> 
        </div>
    {% else %}
        <h2 class="empty-cart">Ваша корзина пуста</h2>
    {% endif %}
</div>