{% load static %}
{% load custom_filters %}
<div class="product-item">
    <a href="{% url 'info' product.id %}" class="pic-link">
        <div class="image-container">
            {% if product.first_image.image.url %}
                <img src="{{ product.first_image.image.url}}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder">
            {% endif %}
        </div>
    </a>
    <a href="{% url 'info' product.id %}" class="product-title">{{ product.name }}</a>
    <div>
        
    </div>
    <div class="review-container">
        {% if product.get_review_count != 0 %}
            <div class="rating">
                <div class="Stars" style="--rating: {{ product.get_average_rating  }};"></div>
                <p class="average-rating">&nbsp;{{ product.get_average_rating }}&nbsp;</p>  
                ({{ product.get_review_count }})
            </div>
        {% else %}
            <small>Пока нет отзывов</small>
        {% endif %}
    </div>
    <div class="price-container">
        <strong class="price">{{ product.price }} р</strong>    
    </div>
    <div class="add-to-cart-div">
        {% if product.amount > 0 and request.user.is_staff == False %}
        <div class="product-{{ product.id }}">
            {% include 'quantity-change.html' %}
        </div>
        {% else %}
        <button class="button add-to-cart-button" disabled>Добавить в корзину</button>
        {% endif %}
    </div>
</div>