{% load static %}

{% if page == 'all' %}
    {% for elem in keyboards %}
        {% include 'product-grid-cart.html' %}
    {% endfor %}
    {% for elem in mouses %}
        {% include 'product-grid-cart.html' %}
    {% endfor %}
    {% for elem in headphones %}
        {% include 'product-grid-cart.html' %}
    {% endfor %}
{% else %}
    {% for elem in obj %}
        {% include 'product-grid-cart.html' %}
    {% endfor %}
{% endif %}

{% if sum == 0 %}
    <h2 class="not-found">По запросу "{{q}}" ничего не найдено</h2>
{% endif %}