<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
    <script src="{% static 'js/password_change.js' %}" defer></script>
</head>
<body>
    {% include 'navbar/navbar.html' %}
    <div class="change-password-form-container">
        <h2>Изменение пароля</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-wrapper">
                {% if request.user.is_staff %}
                    <button class="back-button" type="button" onclick="staff_back()">Назад</button>
                {% else %}
                    <button class="back-button" type="button" onclick="back()">Назад</button>
                {% endif %}
                <button class="save-button" type="submit"> Сохранить </button>    
            </div>
        </form>
    </div>
</body>
</html>